# fix for:
# error: invalid command 'bdist_wheel' (arm64)
wheel

## smart contract related ##
web3 
py-solc
#eth-testrpc

## dependencies for interaction with ethereum directly ##
leveldb
ethereum # pyethereum 

## for bitcoin
bitcoinlib

## other required python packages ##
py-ecc
pytest
sympy

# jupyter (old) and jupyter-lab environment
ipython
jupyter
jupyterlab

